<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <h1>O melhor framework do mundo!</h1>
    </ion-item>
    <ion-item>
      <h3>A documentação do Ionic é a sua melhor amiga</h3>
      <ion-button slot="end" color="tertiary" href="https://ionicframework.com/">
        <ion-icon slot="icon-only" name="logo-ionic" size="large"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <h3>E o Ionicons é o seu melhor amigo</h3>
      <ion-button slot="end" color="tertiary" href="https://ionic.io/ionicons/v4">
        <ion-icon slot="icon-only" name="logo-ionic" size="large"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <h3>Foque na lógica e divirta-se :D</h3>
      <ion-button slot="end" color="tertiary" href="https://github.com/RicardoValus">
        <ion-icon slot="icon-only" name="logo-github" size="large"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>



</ion-content>